@font-face {
  font-family: "SF-Pro";
  src: url("./SF-Pro.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SF-Pro";
  list-style: none;
}
a {
  text-decoration: none;
}
.rs-storehome {
  background-color: #f5f5f7;
}
.navbox {
  width: 100%;
  background-color: #333333;
}
.nav {
  max-width: 1024px;
  margin: auto;
  height: 44px;
  display: flex;
}
.nav div {
  text-align: center;
  font-size: 14px;
  margin: auto;
}
.nav a {
  color: rgb(210 211 211);
  text-decoration: none;
}

.nav a:hover {
  cursor: pointer;
  color: white;
}
/* 스토어 페이지 영역 */
/* header */
.header__row {
  display: flex;
}
.header__column {
  margin: 70px;
  /* display: flex; */
}
.header__column_side {
  padding-top: 50px;
  margin: 30px;
  display: flex;
  flex-direction: column;
}
.rs-storehome {
  margin: 0 auto;
}
.rs-shop-header,
.rs-shop-subheader {
  font-size: 48px;
  line-height: 1.08349;
  font-weight: 600;
  letter-spacing: -0.003em;
  font-family: "SF-Pro", SF Pro Display, SF Pro Icons, AOS Icons, Helvetica Neue,
    Helvetica, Arial, sans-serif;
  display: inline;
}
.rs-shop-subheader {
  color: #6e6e73;
}
.header__chat,
.header__nearshop {
  font-weight: 400;
  letter-spacing: -0.016em;
  display: flex;
  flex-direction: row;
}
.header__chat img {
  width: 30px;
  height: 30px;
  margin-top: 5px;
}
.header__nearshop {
  margin-top: 20px;
}
.header__nearshop img {
  width: 25px;
  height: 25px;
  margin-top: 5px;
  margin-right: 5px;
}
.header__next {
  margin-left: 20px;
}
.header__next span {
  font-family: "SF-Pro";
  color: #1d1d1f;
  font-size: 14px;
  font-weight: 600;
}
.header__next a {
  font-family: "SF-Pro";
  color: #518bd8;
  font-size: 14px;
}
/* main1 슬라이더 */
.main1-cardsshelf {
  margin-top: 30px;
  width: 100%;
  height: 180px;
  /* background-color: red; */
  position: relative;
}
.main1-cardsshelf .slider {
  position: absolute;
  left: 2%;
  top: 10%;
  width: 95%;
  height: 70%;
  overflow: hidden;
  /* background-color: blue; */
}
.main1-cardsshelf .slider-inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 150%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 5px;
  pointer-events: none;
}

.main1-cardsshelf .slider-item {
  height: 100%;
  width: 90%;
  /* background-color: yellow; */
  text-align: center;
}
.main1-cardsshelf .slider-item img {
  width: 120px;
  height: 80px;
}
/* main2 슬라이더 */
.main__header {
  width: 100%;
  margin-left: 30px;
  font-size: 28px;
  line-height: 1.14286;
  font-weight: 600;
  letter-spacing: 0.007em;
  font-family: "SF-Pro", SF Pro Display, SF Pro Icons, AOS Icons, Helvetica Neue,
    Helvetica, Arial, sans-serif;
  display: flex;
}
.main__header :nth-child(2) {
  color: #6e6e73;
}
.main2-cardsshelf {
  width: 100%;
  height: 600px;
  margin: 0 auto;
  justify-content: center;
  /* background-color: red; */
  position: relative;
}
.main2-cardsshelf .swiper {
  position: absolute;
  left: 2%;
  top: 5%;
  width: 95%;
  height: 90%;
  overflow: hidden;
  z-index: 0;
  justify-content: center;
  /* background-color: blue; */
}
.main2-cardsshelf .swiper-inner {
  position: absolute;
  top: 0;
  left: 0;
  /* height: 100%; */
  /* width: 150%; */
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 20px;
  pointer-events: none;
}

.main2-cardsshelf .swiper-item {
  /* background-color: yellow; */
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  /* background-color: #fff; */
  border-radius: 18px;
  width: 26.59rem;
  /* height: 29.41176rem; */
  height: 33.41176rem;
  white-space: normal;
  box-shadow: 2px 4px 12pxrgba (0, 0, 0, 0.08);
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}
.main2-cardsshelf .swiper-item img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
  white-space: normal;
  object-fit: cover;
}
.item-info,
.item-info-white {
  position: absolute;
  z-index: 10;
  /* background-color: #518bd8; */
  height: 30%;
  width: 100%;
  margin-left: 12px;
}
.item-eyebrow {
  display: flex;
  color: #fff;
  font-size: 12px;
  margin: 25px;
}
.item-content {
  display: flex;
  font-size: 28px;
  letter-spacing: 0.3mm;
  font-weight: 600;
  text-align: left;
  margin-left: 20px;
  overflow: hidden;
  color: #fff;
}
.item-desc {
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: 100;
  text-align: left;
  margin-left: 20px;
  margin-top: 5px;
}
.item-info-white .item-content {
  color: #1d1d1f;
  display: flex;
  font-size: 28px;
  letter-spacing: 0.3mm;
  font-weight: 600;
  text-align: left;
  margin-left: 20px;
  overflow: hidden;
}
.item-info-white .item-eyebrow {
  display: flex;
  color: #6e6e73;
  font-size: 12px;
  margin: 25px;
}
.item-info-white .item-desc {
  color: #1d1d1f;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: 100;
  text-align: left;
  margin-left: 20px;
  margin-top: 5px;
}
/* main3 카드 */
.main3-card {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
/* .main3-card-box {
  width: 100%;
  height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  gap: 20px;
} */
.main3-card .main__header {
  font-size: 28px;
  line-height: 1.14286;
  font-weight: 600;
  letter-spacing: 0.007em;
  font-family: SF Pro Display, SF Pro Icons, AOS Icons, Helvetica Neue,
    Helvetica, Arial, sans-serif;
}
.main3-card .main__header :nth-child(2) {
  color: #6e6e73;
}
.card__people {
  display: flex;
  margin-top: 25px;
  /* background-color: yellow; */
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  /* background-color: #fff; */
  border-radius: 18px;
  width: 26.59rem;
  height: 27.9em;
  white-space: normal;
  box-shadow: 2px 4px 12pxrgba (0, 0, 0, 0.08);
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}
.main3_colunm {
  display: flex;
  flex-direction: column;
  /* background-color: blue; */
  width: 50%;
  gap: 22px;
  justify-content: center;
  position: relative;
  overflow: hidden;
  /* background-color: #fff; */
}
.card__session {
  display: flex;
  height: 42%;
  width: 100%;
}
.card__bar {
  display: flex;
  height: 42%;
  width: 100%;
}
.main3-card img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
  white-space: normal;
  object-fit: cover;
  border-radius: 18px;
}
.main3__title {
  position: absolute;
  z-index: 10;
  height: 30%;
  width: 100%;
  margin: 20px;
  /* margin-left: 35px; */
  margin-top: 30px;
  font-size: 26px;
  letter-spacing: 0.001mm;
  font-weight: 600;
  text-align: left;
  justify-content: center;
  overflow: hidden;
}
.main3__title_sec {
  position: absolute;
  z-index: 10;
  height: 30%;
  width: 50%;
  margin: 20px;
  font-size: 24px;
  letter-spacing: 0.001mm;
  font-weight: 600;
  text-align: left;
  overflow: hidden;
}
/* footer */

footer * {
  font-size: 12px;
  letter-spacing: -0.01em;
  /* line-height: 16px; */

  color: #6e6e73;

  text-align: left;
}

footer {
  background-color: #f5f5f7;
}

footer a {
  text-decoration: none;
  /* color: #6e6e73; */
}

footer a:hover {
  text-decoration: underline;
}

.footer__container {
  width: 980px;

  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.footer__quick {
  width: 100%;
  height: 100px;
  margin: 0 auto;
}
.footer__quick h3 {
  font-size: 28px;
  line-height: 1.14286;
  font-weight: 600;
  letter-spacing: 0.007em;
  font-family: "SF-Pro", SF Pro Display, SF Pro Icons, AOS Icons, Helvetica Neue,
    Helvetica, Arial, sans-serif;
  padding-top: 0;
  padding-bottom: 20px;
  color: #1d1d1f;
}
.footer__quick ul {
  display: flex;
}
.footer__quick li {
  font-size: 14px;
  line-height: 1.42859;
  font-weight: 400;
  letter-spacing: -0.016em;
  background-color: #ebebf0;
  margin: 8px;
  display: inline-block;
  width: 120px;
  height: 30px;
  padding-top: 3px;
  text-align: center;
  border-radius: 18px;
  color: #1d1d1f;
}

.footer__box--detail {
  padding: 10px 0 20px 0;

  border-bottom: solid 1px #c1c0ce;
}

.footer__detail p {
  padding-bottom: 10px;
}

.footer__box--links {
  display: flex;
  /* flex-direction: column; */
  /* background-color: azure; */
}

.footer__columns {
  height: 420px;

  margin-bottom: 20px;

  flex-basis: 25%;
}

.footer__links {
  margin: 10px 0 10px 0;
  display: block;
}

.footer__innerbox--top {
  font-weight: 600;

  color: #6e6e73;
}

.footer__innerbox--top:hover {
  text-decoration: none;
}

.footer__box--waytoshop {
  padding: 10px 0 10px 0;

  border-bottom: solid 1px #c1c0ce;
}

.footer__box--waytoshop a {
  color: #2997ff;
}

.footer__box--info {
  padding: 10px 0 30px 0;
  display: flex;
  justify-content: space-between;
}

/* .footer__policy {
  margin-left: -100px;
} */

.footer__policy a {
  color: black;
  padding: 0 10px 0 10px;
}

.footer__policy a:nth-child(n + 2) {
  position: relative;
}

.footer__policy a:nth-child(n + 2)::after {
  position: absolute;
  left: 0;
  content: "";
  width: 1px;
  height: 15px;
  background-color: #c1c0ce;
}

.footer__nation {
  margin-left: 120px;
}
